fastapi
uvicorn
strawberry-graphql
httpx
python-dotenv
osmnx
scikit-learn
grpcio
grpcio-tools
protobuf
pytest
pytest-asyncio


opentelemetry-sdk==1.44.0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-instrumentation-fastapi==0.65b0
opentelemetry-instrumentation-httpx==0.65b0
opentelemetry-instrumentation-grpc==0.65b0
opentelemetry-instrumentation-logging==0.65b0
opentelemetry-instrumentation-system-metrics==0.65b0